.carousel {
 margin: 10px auto;
 max-width: 400px;
 font-family: sans-serif;
 position: relative;
}
.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}
.carousel-nav {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
}
.carousel-nav a {
  text-decoration: none;
  font-size: .8em;
  background: #fff;
  color: #333;
  opacity: .8;
  padding: .5em;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
.carousel-nav a.prev {
  left: 0;
}
.carousel-nav a.next {
  right: 0;
}
.carousel-nav-paginated .carousel-active-page a {
	background: #333;
	color: #fff;
	opacity: .8;
}


/* styled arrows */
.arrows .carousel-nav {
  bottom: auto;
  top: 50%;
}
.arrows .carousel-nav a {
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  background: #fff;
  opacity: .5;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
}
.arrows .carousel-nav a:hover,
.arrows .carousel-nav a:focus {
  opacity: 1;
}
.arrows .carousel-nav a.next {
  background-image: url(arrow-right.png);
  right: 1em;
}
.arrows .carousel-nav a.prev {
  background-image: url(arrow-left.png);
  left: 1em;
}


/* peek */
.carousel.peek {
   max-width: 500px;
}
.carousel.peek .carousel-item-prev,
.carousel.peek .carousel-item-next {
  width: 50%;
  display: block;
  opacity: .5;
  position:  absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transform: scale(.6) rotate(-15deg);
}
.carousel.peek .carousel-item-next {
  right: 0;
  left: auto;
  -webkit-transform: scale(.6) rotate(15deg);
}
.carousel.peek .carousel-active {
  width: 50%;
  opacity: 1;
  position: relative;
  left: 25%;
  z-index: 2;
  box-shadow: .2em .2em .5em #aaa;
}
.carousel.peek .carousel-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.carousel.peek .carousel-nav a {
  width: 20%;
  height: 100%;
  background: #fff;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
}
.carousel.peek .carousel-nav a.next {
  left: auto;
  right: 0;
}
