.carousel {
 margin: 10px auto;
 max-width: 400px;
 font-family: sans-serif;
 position: relative;
}
.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}
.carousel-nav {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
}
.carousel-nav a {
  text-decoration: none;
  font-size: .8em;
  background: #fff;
  color: #333;
  opacity: .8;
  padding: .5em;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
.carousel-nav a.prev {
  left: 0;
}
.carousel-nav a.next {
  right: 0;
}
.carousel-nav-paginated .carousel-active-page a {
	background: #333;
	color: #fff;
	opacity: .8;
}


/* styled arrows */
.arrows .carousel-nav {
  bottom: auto;
  top: 50%;
}
.arrows .carousel-nav a {
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  background: #fff;
  opacity: .5;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
}
.arrows .carousel-nav a:hover,
.arrows .carousel-nav a:focus {
  opacity: 1;
}
.arrows .carousel-nav a.next {
  background-image: url(arrow-right.png);
  right: 1em;
}
.arrows .carousel-nav a.prev {
  background-image: url(arrow-left.png);
  left: 1em;
}


/* peek */
.carousel.peek {

   overflow: hidden;
}
.carousel.peek .carousel-item {
  width: 50%;
}
.carousel.peek .carousel-item-prev,
.carousel.peek .carousel-item-next {
  display: block;
  opacity: .5;
  position:  absolute;
  left: -20%;
  top: 0;
  z-index: 2;
  -webkit-transition: left -webkit-transform .2s linear;
  -moz-transition: left -moz-transform .2s linear;
  -o-transition: left -o-transform .2s linear;
  -ms-transition: left -ms-transform .2s linear;
  transition: left transform .2s linear;
  -webkit-transform: scale(.6) translateX(0);
  -moz-transform: scale(.6) translateX(0);
  -o-transform: scale(.6) translateX(0);
  -ms-transform: scale(.6) translateX(0);
  transform: scale(.6) translateX(0);
}
.carousel-no-transition.peek .carousel-item {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.carousel.peek .carousel-item-next {
  left: 70%;
}
.carousel.peek .carousel-active {
  opacity: 1;
  position: relative;
  left: 25%;
  z-index: 1;
  box-shadow: .2em .2em .5em #aaa;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
}
.carousel.peek .carousel-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.carousel.peek .carousel-nav a {
  width: 15%;
  height: 100%;
  background: #fff;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
}
.carousel.peek .carousel-nav a.next {
  left: auto;
  right: 0;
}

/*
.carousel-slide.peek .carousel-item {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%; /* necessary for non-active slides
  display: block; /* overrides basic carousel styles
  z-index: 1;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -ms-transition: left .2s ease;
  -o-transition: left .2s ease;
  transition: left .2s ease;
}
.carousel-slide.peek .carousel-active {
  left: 0;
  position: relative;
  z-index: 2;
}
.carousel-slide.peek .carousel-in {
  left: 0;
}
.carousel-slide-reverse.peek .carousel-out {
  left: 100%;
}
.carousel-slide.peek .carousel-out,
.carousel-slide-reverse.peek .carousel-in {
  left: auto;
  right: 0;
}
.carousel-slide-reverse.peek .carousel-item {
  -webkit-transition: left .1s ease;
  -moz-transition: left .1s ease;
  -ms-transition: left .1s ease;
  -o-transition: left .1s ease;
  transition: left .1s ease;
}
.carousel-slide-reverse.peek .carousel-active {
  left: 25%;
}
*/